.main_block {
    background-color: white;
    font-family: Arial;
    margin-left: 5%;
    box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto;
  padding: 5px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}


