.main_block {
    background-color: white;
    font-family: Arial;
    display: inline-block;
    margin-left: 5%;
    text-align: center;
}

meter {
    width: 80%;
}

.section {
    background-color: lightgreen;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 5%;
}