.main_block {
    background-color: white;
    font-family: Arial;
    margin-left: 5%;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: max-content;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
